## Different ways of using print statement

In [2]:
age = 21
print("My age is :", age)

My age is : 32

In [3]:
## f string 
print("My age is : {age}")

My age is : {age}

In [4]:
print(f"My age is : {age}")

My age is : 32

In [6]:
## format 
name = "Samarth"
print("My name is {} and age is {}".format(name , age))

My name is Samarth and age is 21

In [8]:
print("My name is {} and age is {}".format(age , name))

My name is 21 and age is Samarth

In [9]:
## placeholder 
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Samarth and age is 21

In [10]:

print("My name is {firstname} and age is {firstage}".format(firstage=age, firstname=name))

My name is Samarth and age is 21

In [11]:
## exercise 
name = "Samarth Porwal"
age = 21
degree="BE"

# OutPut -> "My age is 21 and i have completed: my degree of BE with the name of Samarth Porwal"

## format 
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 21 and i have completed: my degree of BE with the name of Samarth Porwal

## Control Flow 
### Decision Makin Statement
* It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
   * Structure of decision making evaluate several expressions that provide True or False as a result.
   * It is up to you to decide which type of action want to take and execute the statements based upon True and False.
   
**These are several topics of decision making which going to be discussed below:**
   1. **if**
   2. **if else** 
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

In [15]:
## if Statement 
if age>=18:
    print(f"{name} you are eligible to vote")

Samarth Porwal you are eligible to vote

In [18]:
age = 17 
if age<18:
    print(f"{name} you are not eligible to vote")

Samarth Porwal you are not eligible to vote

In [20]:
## giving input at the runtime 
input()

 samarth

'samarth'

In [21]:
name = input("Enter the name ")

Enter the name  Samarth

In [22]:
name

'Samarth '

In [23]:
# we have to do typecasting because by default it is coming in the string format 
age=int(input("Enter you age"))

Enter you age 21

In [24]:
age

21

In [25]:
## TASK
## Take a input age 
## check whether age >= 18 and age<=45
## dispaly a message you are young blood

In [28]:
age = int(input("Enter your age"))
if(age>=18 and age<=45):
    print("You are young blood")

Enter your age 65

In [31]:
## if else statement 
age = int(input("Enter your age"))
if(age>=18 and age<=45):
    print("You are young blood")
else:
    print("Thank You but you are not eligible")

Enter your age 89

Thank You but you are not eligible

In [32]:
## mall - input the product price 
## product > 1000 rs 20% off
## product <= 1000 rs 30% off 
## print the product price after removing the discount

productPrice = int(input("Enter Product Price"))
if(productPrice > 1000):
    print(productPrice - (productPrice*20)/100)
else:
    print(productPrice - (productPrice*30)/100)

Enter Product Price 1000

700.0

In [33]:
# good way to write the code 
productPrice = int(input("Enter Product Price"))
if(productPrice > 1000):
    print("The Price of the product is {}".format(productPrice*0.8))
else:
    print("The Price of the product is {}".format(productPrice*0.7))

Enter Product Price 5000

The Price of the product is 4000.0

In [35]:
## else-if statement
## nested-if
productPrice = int(input("Enter Product Price"))
if(productPrice > 3000):
    print("The Price of the product is {}".format(productPrice*0.8))
elif productPrice>=2000 and productPrice<=3000:
    if productPrice==2999:
        print("Congratulations you got a trip to Goa")
    print("The Price of the product is {}".format(productPrice*0.7))
else:
    print("The Price of the product is {}".format(productPrice*0.6))

Enter Product Price 2999

Congratulations you got a trip to Goa
The Price of the product is 2099.2999999999997

In [37]:
## Single Statement 
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:print("Go Home")

Enter the number 1000

Go Home

## Loops Statements
1. while loop
2. for loop
3. nested loop
4. loop control(break, continue, pass)

In [38]:
# while loop
joining_age = int(input('Enter Your Joining Age'))
i = 1
while joining_age<=60:
    print(f'Your Joining Age is {joining_age}')
    joining_age=joining_age+1
    
print("Congratulations you can now retire")

Enter Your Joining Age 25

Your Joining Age is 25
Your Joining Age is 26
Your Joining Age is 27
Your Joining Age is 28
Your Joining Age is 29
Your Joining Age is 30
Your Joining Age is 31
Your Joining Age is 32
Your Joining Age is 33
Your Joining Age is 34
Your Joining Age is 35
Your Joining Age is 36
Your Joining Age is 37
Your Joining Age is 38
Your Joining Age is 39
Your Joining Age is 40
Your Joining Age is 41
Your Joining Age is 42
Your Joining Age is 43
Your Joining Age is 44
Your Joining Age is 45
Your Joining Age is 46
Your Joining Age is 47
Your Joining Age is 48
Your Joining Age is 49
Your Joining Age is 50
Your Joining Age is 51
Your Joining Age is 52
Your Joining Age is 53
Your Joining Age is 54
Your Joining Age is 55
Your Joining Age is 56
Your Joining Age is 57
Your Joining Age is 58
Your Joining Age is 59
Your Joining Age is 60
Congratulations you can now retire

In [42]:
### Atm machine with 1000 rs 
total_amount = int(input('Enter amount'))
while total_amount!=0:
    print(total_amount)
    total_amount = total_amount-100
else:
    print("Put more money in the ATM")

Enter amount 1000

1000
900
800
700
600
500
400
300
200
100
Put more money in the ATM

In [43]:
## For Loop 
lst=["Samarth",1,2,3,4,"apple","watermelon"]
type(lst)

list

In [44]:
lst[0]

'Samarth'

In [45]:
for i in lst:
    print(i)

Samarth
1
2
3
4
apple
watermelon

In [6]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]
for fruit in fruits_list:
    print(fruit)

Mango
Cherry
Apple
Papaya
Banana

In [51]:
# for printing in single line 
for fruit in fruits_list:
    print(fruit+" ",end='')

Mango Cherry Apple Papaya Banana

In [52]:
fruit = 'mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [53]:
fruit[2]

'n'

### Nested Loops
### range() -> Returns an object that produces a sequence of integers from start(inclusive) to stop(exclusive) by step

In [54]:
range(1,6)

range(1, 6)

In [55]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [57]:
## we can also five the step size after how many times it should leave and print
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [1]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r") ## moving to the new line

*
**
***
****
*****
******
*******

In [7]:
## loop Controls 
### break and continue 
for i in fruits_list:
    if i == "Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple

In [8]:
for i in fruits_list:
    if i == "Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana

## Exercise Print an Equilateral Triangle

In [1]:
## printing equilateral triangle with spaces first 
row = int(input('Enter no. of  Rows'))
for i in range(row):
    for j in range(row-i-1):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()

Enter no. of  Rows 5

    *
   * *
  * * *
 * * * *
* * * * *

In [3]:
## printing odd no of stars in each line with space 
row = int(input('Enter no. of  Rows'))
for i in range(row):
    for j in range(row-i-1):
        print(" ",end="")
    for j in range(2*i+1):
        print("*",end=" ")
    print()

Enter no. of  Rows 5

    *
   * * *
  * * * * *
 * * * * * * *
* * * * * * * * *

In [5]:
## printing odd no of stars in each line without space 
row = int(input('Enter no. of  Rows'))
for i in range(row):
    for j in range(row-i-1):
        print(" ",end="")
    for j in range(2*i+1):
        print("*",end="")
    print()

Enter no. of  Rows 5

    *
   ***
  *****
 *******
*********